<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.keywords">
      <keyword id="org.jibi.eclipse.sbt.core.sbt" label="%sbt.keyword.label"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.jibi.eclipse.sbt.core.preferences.SbtPreferencePage"
            class="org.jibi.eclipse.sbt.ui.internal.preference.SbtPreferencePage"
            name="%sbt.preferences.page.name">
         <keywordReference id="org.jibi.eclipse.sbt.core.sbt"/>
      </page>
    </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SBT"
            id="org.jibi.eclipse.sbt.commands.category">
      </category>
      <command
            categoryId="org.jibi.eclipse.sbt.commands.category"
            defaultHandler="org.jibi.eclipse.sbt.UpdateProjectConfigurationCommand"
            id="org.jibi.eclipse.sbt.commands.updateProjectConfiguration"
            name="SBT Update Project Configuration">
      </command>
      <command
            categoryId="org.jibi.eclipse.sbt.commands.category"
            defaultHandler="org.jibi.eclipse.sbt.ExecuteSbtCommand"
            id="org.jibi.eclipse.sbt.commands.executeCommand"
            name="SBT Command...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
            <command
                  commandId="org.jibi.eclipse.sbt.commands.updateProjectConfiguration"
                  mnemonic="U"
                  label="SBT Update Project Configuration"
                  id="org.jibi.eclipse.sbt.menus.updateUpdateProjectConfiguration">
                    <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                  <test
                        property="org.jibi.eclipse.sbt.isSbtProject" value="true">
                  </test>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
            <command
                  commandId="org.jibi.eclipse.sbt.commands.executeCommand"
                  mnemonic="S"
                  label="SBT Command..."
                  id="org.jibi.eclipse.sbt.menus.executeCommand">
                    <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                  <test
                        property="org.jibi.eclipse.sbt.isSbtProject" value="true">
                  </test>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
       
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jibi.eclipse.sbt.Initializer">
      </startup>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         namespace="org.jibi.eclipse.sbt"
       id="org.jibi.eclipse.sbt.EsbtPropertyTester"
       properties="isSbtProject"
       type="java.lang.Object"
       class="org.jibi.eclipse.sbt.EsbtPropertyTester">
     </propertyTester>
    </extension>
   
</plugin>
